body{
    font-family: Arial, sans-serif;
    background-color: #ffeef2;
    text-align: center;
}

/*Container*/

.container{
    background: white;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
}

h1{
    color:#d63354;
}

ul{
    list-style: none;
    padding: 8px;
    border-radius: 5px;
}
button{
    padding: 8px;
    cursor: pointer;
}



